@import url('https://fonts.googleapis.com/css?family=Sora&display=swap');

html{
    background-color: var(--main-bg-color);
    font-size: 1.2em;
    --main-bg-color: #FBFBFC;
    --main-color: #04D7A2;
    --secondary-color: #1E214E;
    --citoyen-color: #5bd0ff;
    --citoyen-secondary: #dffaff;
    --hero-color: #ff5347;
    --hero-secondary: #fccdca;
    font-family: Sora;
    color: var(--secondary-color);
}

body{
    margin: 0;
}
